main{
    display: flex;
    background-color: #ffffff;
}
.tab-select{
    width: 300px;
    height: 300px;
    background-color: rgb(70, 206, 20);
    display: flex;
    flex-direction: column;
}
.N5_tab, .N4_tab, .N3_tab, .N2_tab, .N1_tab{
    width: 60px;
    height: 50px;
    margin-top: 30%;
    border-bottom-right-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    font-size: 30px;
    font: weight 600px;
}
.N5_tab{
    background-color: #cde8ff;
}
.N4_tab{
     background-color: #cffae0;
}
.N3_tab{
    background-color: #fff4c2;
}
.N2_tab{
    background-color: #fcc0c5;
}
.N1_tab{
    background-color: #e3d8ff;
}
