main {
    width: 100%;
    gap: 10%;
    position: relative;
}

/* แถบเลือก N5-N1 */
.tab_select {
    position: fixed;
    display: flex;
    top: 30%;
    flex-direction: column;
    height: auto;
    gap: 2em;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: end;
    border: 3px solid black;
    border-left: none;
    width: 100px;
    padding-right: 20px;
    height: 50px;
    transition: all .3s ease-in-out;
    font-size: 1.2em;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateX(-50%);
    text-decoration: none;
    color: black;
}

.N5_tab {
    background-color: #cde8ff;
}

.N5_tab:hover {
    background-color: #a3d0f7;
}

.N4_tab {
    background-color: #cffae0;
}

.N4_tab:hover {
    background-color: #9ef2c8;
}

.N3_tab {
    background-color: #fff4c2;
}

.N3_tab:hover {
    background-color: #ffe999;
}

.N2_tab {
    background-color: #fcc0c5;
}

.N2_tab:hover {
    background-color: #fa9aa0;
}

.N1_tab {
    background-color: #e3d8ff;
}

.N1_tab:hover {
    background-color: #c6baff;
}

.tab:hover {
    cursor: pointer;
    transform: translateX(0);
}

/* ----------- */

/* Main Collection Box */

.main-collection-box {
    margin: 0 auto;
    margin-top: 4%;
    width: 80%;
    height: auto;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 10em;
}

.collection-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.collection-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-title {
    width: 20%;
    height: 4em;
    background-color: #a3d0f7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 4px solid black;
    border-radius: 25px;
}

.collection-title h2 {
    margin: 0;
    font-size: 2em;

}

.title-img {
    width: 25%;
    height: 80%;
    background-size: 100% 100%;
}

.total-bar {
    font-size: 2.5em;
    font-weight: bold;
}

.collection-grid {
    display: flex;
    width: 100%;
    height: auto;
    background-color: azure;
    border: 4px solid black;
    border-radius: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5em;
    padding-top: 3%;

    padding-bottom: 3%;
}


/* สีพื้นของแต่ละระดับ N5-N1 */
/*title*/
.title-N5 {
    background-color: #cde8ff;
}

.title-N4 {
    background-color: #9ef2c8;
}

.title-N3 {
    background-color: #ffe999;
}

.title-N2 {
    background-color: #fa9aa0;
}

.title-N1 {
    background-color: #c6baff;
}

/*สีของพื้นหลังแต่ละระดับ*/
#N5-grid {
    background-color: #e4f2fd;
}

#N4-grid {
    background-color: #e6fff4;
}

#N3-grid {
    background-color: #fffbea;
}

#N2-grid {
    background-color: #ffe1e3;
}

#N1-grid {
    background-color: #f0e8ff;
}

/*title-img url*/
.title-N5-img {
    background-image: url(../Img/Select/N5.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title-N4-img {
    background-image: url(../Img/Select/N4.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title-N3-img {
    background-image: url(../Img/Select/N3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title-N2-img {
    background-image: url(../Img/Select/N2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title-N1-img {
    background-image: url(../Img/Select/N1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



/* Card ทั้งหมด */

.cards {
    /*ส่วนของการ์ดพื้นหลัง*/
    width: 13.5rem;
    height: 18rem;
    background-image: url(../Img/card/back_card.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-background {
    /*ด้านในการ์ดทั้งหมด*/
    position: relative;
    bottom: 1.5%;
    width: 76%;
    height: 82%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    p {
        margin: 0;
        font-size: .8em;
    }

    .card-img {
        /*รูปของการ์ด*/

        width: 110%;
        height: 50%;
        background-size: 100% 100%;
        background-size: contain;
        /*เลือกรูปไม่บีบ */
        background-position: center;
    }

    .speaker-box {
        width: 100%;

        height: 8%;
        display: flex;

        .speaker {
            height: 100%;
            width: 25%;
            background-image: url(../Img/card/Speaker.png);
            background-size: 100% 100%;
            transition: all .2s ease-in-out;
        }
    }

}

.speaker:hover {
    cursor: pointer;
    transform: scale(1.1);
}