main{
    flex: 1;
    display: flex;
}

.home-box{
    height: 100%;
    width: 50%;
}

.main-left{
    outline: 4px solid black;
}
.main-right{
    outline: 4px solid black;
}

/*---- inside main box left ----*/
.main-left{
    display: flex;
    flex-direction: column;
   justify-content: space-around;
    padding-left: 5em;
}
    /*Title Section ------*/
.main-left-container-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#main-left-title{
    font-size: 3.2em;
    margin: 0;

}
#main-left-text{
    margin: 0;
    font-size: 1.5em;
    font-weight: 100;

}

.main-left-container-card{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

    /*Card Section ------*/

.cards{ /*create cards*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
    border-radius: 10px;
    background-image: url(../Img/card/back_card.png);
    background-size: 100% 100%;
}

.cards-background{
    width: 75%;
    height: 80%;
    border-radius: 3px;
    margin-bottom: 5.1px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}
.speaker-box{
    width: 100%;
}
.speaker{
    width: 35px;
    height: 20px;
    background-image: url(../Img/card/Speaker.png);
    background-size: 100% 100%;
}

.speaker:hover{
    cursor: pointer;
}


.card-img-box{
    width: 100%;
    height: 40%;
}

.card-img{
    margin: 0 auto;
    width: 55%;
    height: 100%;
    background-size: 100% 100%;
}

#Tree{
    background-image: url(../Img/card/vocab_img/tree.png);
}

#Book{
    background-image: url(../Img/card/vocab_img/book.png);
}

#Chair{
    background-image: url(../Img/card/vocab_img/chair.png);
}

.card-text{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    p{
        margin: 0;
        font-size: 13px;
    }
}

    /*Contract Section ------*/
.main-left-container-contract{
    width: 100%;
    display: flex;
    align-items: center;
    p{
        margin: 0;
        font-size: medium;
    }
}

.Nekoma-logo{
    height: 3em;

}

/*---- inside main box Right ----*/

.main-right{
    background-image: url(../Img/Main/Fuji_no_clound.png);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
    /* Cloud animation*/
#cloud1, #cloud2{
    width: 16em;
    height: 8em;
    background-image: url(../Img/Main/cloud.png);
    position: absolute;
}

#cloud1{
    top: 50%;
    left: 50%;
    animation: c1 10s ease-in-out infinite alternate;
}

#cloud2{
    left: 0%;
    top: 20%;
    transform: scaleX(-1);
    animation: c2 10s ease-in-out infinite alternate;
}

@keyframes c2{
    0%{
        left: 0%;
    }
    30%{
        left: 0%;
    }
    70%{
        left: 60%;
    }
    100%{
        left: 60%;
    }
}

@keyframes c1{
    0%{
        left: 60%;
    }
    30%{
        left: 60%;
    }
    70%{
        left: 0%;
    }
    100%{
        left: 0%;
    }
}

@media (max-width: 1024px) {
    .home-box {
        width: 50%;
    }

    .main-left {
        padding-left: 2em;
    }

    #main-left-title {
        font-size: 2.5em;
    }

    #main-left-text {
        font-size: 1.2em;
    }

    .cards {
        width: 130px;
        height: 180px;
    }
}


@media (max-width: 768px) {

    main {
        flex-direction: column;
    }

    .home-box {
        width: 100%;
        height: auto;
    }

    .main-left {
        padding: 2em 1.5em;
        gap: 2em;
    }

    /* text */
    #main-left-title {
        font-size: 2em;
        text-align: center;
    }

    #main-left-text {
        font-size: 1.1em;
        text-align: center;
    }

    /* cards */
    .main-left-container-card {

        align-items: center;
        gap: 20px;
    }

    .cards {
        width: 160px;
        height: 210px;
    }

    /* contract */
    .main-left-container-contract {
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    /* right side */
    .main-right {
        height: 250px;
    }

    #cloud1, #cloud2 {
        width: 10em;
        height: auto;
    }
}
