body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #feebf6;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
/* ตัวกำหนดหน้าจอทั้ง 2 ฝั่งของรูปและ login */
.display{  
    display: flex;
    background-color: #feebf6;
    height: 80%;
    width: 80%;
    gap: 25px;
}
/* ฝั่งกรอบของตัว image ใส่ position: relative เป็น “กรอบอ้างอิง” ให้ element ลูกที่ใช้ position: absolute;*/
.displayimg{
    background-color: #ffffff;
    display: flex;
    width: 50%;
    height: 100%;
    position: relative;
}
/* ฝั่งของกรอบ login */
.displayLogin{
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.displayimg ,.displayLogin{
    border-radius: 45px;
}
/* จะมาจัดกับของฝั่ง login ก่อนกำหนดให้อยู่ตรงกลางเป็น culumn */
.LoginNEKO{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        margin: 0;
        margin-top: 1em;
        margin-bottom: .5em;
    }
}

#aleart-box{
    display: none;
    width: 100%;
    margin-left: 35%;
    margin-bottom: .5em;
    p{
        margin: 0;
        color: red;
        font-size: 1em;
    }
}
/* ตัวของ sun */
.circle{
    border-radius: 100%;
    background-color: #ff5757;
    width: 100px;
    height: 100px;
    margin-top: 25px;
}
/* text ข้อความ */
.text{
    font-size: 20px;
}
/* มากำหนดกรอบของ username,password ขนาด */
#Username,#Password{
    width: 350px;
    height: 60px;
    border-radius: 50px;
    border: 3px solid;
    font-size: 20px;
}
/* ใส่ margin-top เพื่อให้เว้นพื้นที่ระหว่าง login กับ password */

#Username:focus, #Password:focus {
    outline: none;
    border-color: #38b6ff;
    box-shadow: 0 0 5px rgb(56, 182, 255, 0.5);
}

.invalid{
    border-color: red;
    box-shadow: 0 0 5px rgb(255, 0, 0, 0.5);
}

#Password{
    margin-top: 30px;
}
/* เว้นระยะห่างของฟอนกับborderใน login,password โดยใช้ padding */
input[type="username"], input[type="password"] {
    padding: 0 60px;
}
/* ส่วนของการจัดระเบียบของ forgot sign ที่อยู่ใน div describtion และ buttonLogin ที่ข้างในมี #login */
.onClick{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-right: 10px;
    font-size: 15px;
}
.Forgot, .sign{
    color: #5170ff;
}
/* เว้นระยะห่างจาก forgot */
.create{
    margin-top: 15px;
}
.sign{
    padding-left: 15px;
}
.buttonLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    margin-left: 30px;
}
#Login{
    width: 150px;
    height: 70px;
    border-radius: 50px;
    font-size: 20px;
    border: none;
    background-color: #38b6ff;
    color: #ffffff;
    transition: all 0.5s ease-out;
}

#Login:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: #5170ff;
}
.btn{
    cursor: pointer;
}
/* ตัวแม่ของ img เอามาจัดให้องประกอบเฉพะาะ img มาอยู่ตรงกลาง */
.parentImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* ปรับขนาดของกล่องเพื่อเอาภาพมาใส่ */
.img{
    width: 400px;
    height: 400px;
    
}
/* ปรับภาพให้ขนาดเท่ากล่องแล้วใช้คำสั่ง object-fit: cover; เพื่อให้ภาพไม่บิดเบ้ยวให้เป็นรูปที่มันมา */
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* inset-inline-start: จะปรับตำแหน่งจามแนวนอน inset-block-start:จะปรับตำแนห่งตามแนวตั้ง จำเป็นต้องประกาศ absolute ด้วยเพื่อให้มันอิสระภายในกล่อง*/
.fetishblue{
    width: 150px;
    height: 150px;
    inset-inline-start: 50px;
    inset-block-start: -8px;
}
.fetishred{
    width: 80px;
    height: 80px;
    inset-inline-start: 200px;
}
.fetishblue, .fetishred{
  position: absolute;    
}
.fetishblue img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fetishred img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
