*{
    font-family: 'Nunito', sans-serif;
}
body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 5px solid black;
    padding-bottom: 25px;
    padding-top: 25px;
}
main{
    display: flex;
    width: 100%;
    height: 82%;
}

.nav-container{
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 10px;
    border-radius: 25px;
}
.nav-container:hover{
    box-shadow: 0 8px 20px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}
.nav-container h1{
    margin: 0;
    font-size: 1.5em;
}
.nav-container img{
    height: 70px;
    width: 120px;
    display: inline-block;
}
nav div:nth-child(2) img{
    height: 70px;
    width: 140px;
    display: inline-block;
}