/*เซ็ตระบบทั่วไป*/
*{
    font-family: 'Nunito', sans-serif;
}
body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

/*กำหนดองค์ประกอบของ nav bar */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: .3em solid black;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
main{
    display: flex;
    width: 100%;
    height: 100%;
}

.nav-container{
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    width: 13em;
    padding: 1em;
    border-radius: 2em;
    transition: all .2s ease-in-out;
}

.nav-container h1{
    margin: 0;
    font-size: 1.5em;
}

nav div:nth-child(2) img{
    height: 50%;
    width: 60%;
    display: inline-block;
}

.nav-container img{
    height: 50%;
    width: 50%;
    display: inline-block;
    transition: all .15s linear;
}

/*Hover Effects*/

.nav-container:hover{
    box-shadow: 0 8px 20px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}
.nav-container-play:hover{
    background-color: #c1ff72;
    transform: translateY(-5px);
    img {
        filter: saturate(100%) invert(58%) sepia(89%) saturate(419%) hue-rotate(59deg);
    }
}
.nav-container-collection:hover{
    background-color: #fff896;
    transform: translateY(-5px);
    img {
        filter: saturate(100%) invert(65%) sepia(61%) saturate(1611%) hue-rotate(339deg);
    }
}
.nav-container-statistic:hover{
    background-color: #7eeafd;
    transform: translateY(-5px);
    img {
        filter: saturate(100%) invert(15%) sepia(14%) saturate(2304%) hue-rotate(198deg);
    }
}
.nav-container-profile:hover{
    background-color: #b4b4b4;
    transform: translateY(-5px);
    img {
        filter: brightness(0) invert(1);;
    }
}