*{
    font-family: 'Nunito', sans-serif;
}
body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

main{
    width: 95%;
    height: 90%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    
}

.info-bar{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.info-bar h2{
    font-size: 3em;
    margin: 0;
    
}

.cards{ /*ส่วนของการ์ดพื้นหลัง*/
    width: 100%;
    height: 100%;
    background-image: url(../Img/card/back_card.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
}

.flip{
    transform: rotateY(180deg);
}

.cards-result{ /*ส่วนของการ์ดพื้นหลัง*/
    width: 100%;
    height: 100%;
    background-image: url(../Img/card/back_card.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.cards-background{ /*ด้านในการ์ดทั้งหมด*/
    position: relative;
    bottom: 1.5%;
    width: 76%;
    height: 82%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    p{
        margin: 0;
        font-size: 1.2em;
    }
    .card-img{ /*รูปของการ์ด*/

        width: 80%;
        height: 50%;
        background-size: 100% 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .speaker-box{
        width: 100%;

        height: 8%;
        display: flex;
        .speaker{
            height: 100%;
            width: 25%;
            background-image: url(../Img/card/Speaker.png);
            background-size: 100% 100%;
            transition: all .2s ease-in-out;
        }
    }
    
}
.speaker:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.text{
    font-size: 1.5em;
    font-weight:600;

}

.text-puk-kik{
    animation: puk-kik .5s ease-in-out;
}

@keyframes puk-kik {
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-25px);
    }

    100%{
        transform: translateY(0px);
    }
}

.answer{
    margin-top: 1em;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10%;
}

.answer-btn{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 900;

    transition: all .2s ease-in-out;
}

.answer-btn:hover{
    cursor: pointer;
}

#answer-yes{
    color: green;
    font-size: 4em;
    font-weight: 2000;
}
#answer-no{
    color: red;
}

#answer-yes:hover{
    background-color: greenyellow;
    color: white;
}#answer-no:hover{
    background-color: red;
    color: white;
}

#next-btn{
    justify-self: flex-end;
}

.next-container{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 1.5em;
}
#next-btn{
    display: none;
    margin-right: 4em;
    width: 5em;
    text-align: center;
    background-color: #38b6ff;
    color: white;
    padding: .5em;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: 600;
    transition: all .2s ease-in-out;
}

#next-btn:hover{
    cursor: pointer;
    background-color: #0a76a1;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card-container{
    position: relative;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    width: 20.5rem;
    height: 25rem;

}