*{
    font-family: 'Nunito', sans-serif;
}
body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-vocab-box{
    width: 85%;
    margin: 0 auto;
    margin-top: 4%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 4%;
}

.vocab-title{
    width: 18%;
    height: 4.5rem;
    background-color: #a3d0f7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 4px solid black;
    border-radius: 25px;

}

.vocab-title h2{
    margin: 0;
    font-size: 2em;

}

.title-img{
    width: 25%;
    height: 80%;
    background-size: 100% 100%;
}

#vocab-grid{
    display: flex;
    width: 100%;
    height: auto;
    background-color: azure;
    border: 4px solid black;
    border-radius: 15px;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5em;
    padding-top: 3%;
    
    padding-bottom: 3%;
}

.cards{ /*ส่วนของการ์ดพื้นหลัง*/
    width: 13.5rem;
    height: 18rem;
    background-image: url(../Img/card/back_card.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-background{ /*ด้านในการ์ดทั้งหมด*/
    position: relative;
    bottom: 1.5%;
    width: 76%;
    height: 82%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    p{
        margin: 0;
        font-size: .8em;
    }
    .card-img{ /*รูปของการ์ด*/

        width: 80%;
        height: 50%;
        background-size: 100% 100%;
    }
    .speaker-box{
        width: 100%;

        height: 8%;
        display: flex;
        .speaker{
            height: 100%;
            width: 25%;
            background-image: url(../Img/card/Speaker.png);
            background-size: 100% 100%;
            transition: all .2s ease-in-out;
        }
    }
    
}
.speaker:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#ready-btn{
    width: 15%;
    height: 4em;
    background-color: #c1ff72;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 4px solid black;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    align-self: flex-end;
}

#ready-btn:hover{
    cursor: pointer;
    background-color: #86c631;
    box-shadow: 0 8px 20px rgb(0, 0, 0, 0.2);
}