/*Edit Profile pop up*/
#profile-pop-up-main{
    display: none;
    position: absolute;
    /*move it to center of body*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background-color: white;
    border: 4px solid black;
}
.profile-pop-up-box{
    width: 50%;
    height: 100%;
}

/*Main Left*/

.profile-pop-up-main-left{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    gap: 25px;
    h4{ /*Profile title*/
        margin: 0;
        margin-top: 10px;
        font-size: 3.5em;
    }
}
        /*profile info*/
         /*image and info section*/
#profile-info-container{
    display: flex;
    gap: 40px;
    height: 40%;
    width: 100%;
}
        /*Image section*/
#profile-image-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
    align-items: center;
}
#profile-image{
    width: 100%;
    height: 70%;
    border: 4px solid black;
    background-image: url(../Img/card/vocab_img/book.png);
    background-size: 100% 100%;
}

#profile-edit-image-button{
    width: 70%;
    height: 15%;
    background-color: #38b6ff;
    border-radius: 25px;
    border: 4px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    transition: all .3s;
}
#profile-edit-image-button:hover{
    cursor: pointer;
    box-shadow: 0 8px 20px rgb(0, 0, 0, 0.2);
    background: #1fa8ff;
    transform: scale(1.01);
}

        /*Info section*/
#profile-info-main{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    gap: 3em;
    h6{
        font-size: 1.5em;
        margin: 0;
    }
}
        /*profile change password*/
#profile-change-password-conatiner{
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    h5{
        font-size: 2em;
        margin: 0;
    }
}

.profile-change-input-box{
    width: 60%;
    height: 10px;
    border-radius: 25px;
    border: 2px solid black;
    text-decoration: none;
    padding: 20px;
    font-size: 2em; 
}

input::placeholder {
  font-size: 1em;     /* ปรับขนาดตัวอักษรของ placeholder */
  color: gray;         /* เปลี่ยนสีได้ด้วย */
}

#Confirm-pass-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 17%;
    width: 30%;
    height: 15%;
    background-color: #38b6ff;
    border-radius: 25px;
    font-size: 1.5em;
    border: 4px solid black;
    color: white;
    font-weight: bold;
    transition: all .3s;
}
#Confirm-pass-btn:hover{
    cursor: pointer;
    box-shadow: 0 8px 20px rgb(0, 0, 0, 0.2);
    background: #1fa8ff;
    transform: scale(1.01);
}

/*Main Right*/
.profile-pop-up-main-right{
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    padding-top: 25px;
    padding-right: 25px;
    gap: 130px;
    img{
        width: 100%;
        height: 50%;
    }
}


    /*Close btn*/
.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 50px;
  cursor: pointer;
  color: black;
  transition: transform 0.2s ease;
}

.close-btn:hover {
  transform: scale(1.2);
  color: red;
}

        /*Log out btn*/
#log-out-button{
    width: 150px;
    height: 55px;
    font-size: 2em;
    border: 4px solid black;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    background-color: #fb6c5d;
    transition: all .3s;
}

#log-out-button:hover{
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgb(0, 0, 0, 0.2);
    background-color: #ed6557;
}
    /*Decoration*/
.Deco{
    position: absolute;
}
#blue_poscard{
    width: 300px;
    height: 150px;
    right: 700px;
    top: -5px;
}
#red_poscard{
    width: 200px;
    height: 100px;
    right: 650px;
    top: -5px;
}
