body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #feebf6;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.display{  
    display: flex;
    background-color: #feebf6;
    height: 80%;
    width: 80%;
    gap: 25px;
}
.displayimg{
    background-color: #ffffff;
    display: flex;
    width: 50%;
    height: 100%;
    position: relative;
}
.displaysign{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}
.SignNEKOMA{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Entersign{
    display: flex;
    flex-direction: column;
}
.displayimg ,.displaysign{
    border-radius: 45px;
}
.text{
    font-size: 20px;
}
label{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 60px;
}
#Entermail,#Enteruser,#password,#confirmpassword{
    width: 350px;
    height: 55px;
    border-radius: 50px;
    border: 3px solid;
    font-size: 20px;
}
input[type="email"], input[type="username"] ,input[type="password"]{
    padding: 0 60px;
}
.correct{
    display: flex;
}
input[type="checkbox"]{
    width: 25px;
    height: 25px;
    margin-top: 11px;
}
.private, .privacy{
    font-size: 16px;
}
.private{
    padding-left: 10px;
}
.privacy{
    color: #5170ff;
    text-decoration: underline;
    padding-left: 8px;
}
#sign_in{
    width: 120px;
    height: 60px;
    border-radius: 50px;
    font-size: 20px;
    border: none;
    background-color: #38b6ff;
    color: #ffffff;
    transition: all 0.5s ease-out;
}
#sign_in:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: #5170ff;
}

.parentImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* ปรับขนาดของกล่องเพื่อเอาภาพมาใส่ */
.img{
    width: 400px;
    height: 400px;
    
}
/* ปรับภาพให้ขนาดเท่ากล่องแล้วใช้คำสั่ง object-fit: cover; เพื่อให้ภาพไม่บิดเบ้ยวให้เป็นรูปที่มันมา */
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* inset-inline-start: จะปรับตำแหน่งจามแนวนอน inset-block-start:จะปรับตำแนห่งตามแนวตั้ง จำเป็นต้องประกาศ absolute ด้วยเพื่อให้มันอิสระภายในกล่อง*/
.fetishblue{
    width: 150px;
    height: 150px;
    inset-inline-start: 50px;
    inset-block-start: -8px;
}
.fetishred{
    width: 80px;
    height: 80px;
    inset-inline-start: 200px;
}
.fetishblue, .fetishred{
  position: absolute;    
}
.fetishblue img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fetishred img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
