main{
    justify-content: center;

}
.box-stat{
    margin-top: 35px;
    background-color: #ffffff;
    width: 400px;
    height: 450px;
    border: 4px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.text{
    margin-top: 12px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cde8ff;
    width: 200px;
    height: 60px;
    font-size: 25px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50px;
}