*{
    font-family: 'Nunito', sans-serif;
}
body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav{
    background-color: brown;
    width: 100%;
    height: 18%;
    border-bottom: 5px solid black;
}
main{
    background-color: lightblue;
    width: 100%;
    height: 82%;
}